/* app/(private routes)/notes/Notes.module.css */

.page {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.notesMain {
  flex-grow: 1;
  max-width: 800px;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
}